body {
  background-color: #ffb174;
}

header {
  background-color: #ee5a5a;
}

.navBar ul {
  list-style-type: none;
  display: flex;
}

.navBar a {
  text-decoration: none;
  color: black;
  padding: 1em;
}

.navBar a:hover {
  background-color: #cd4f4f;
}

.flexHeader {
  background-color: #ee5a5a;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.flexFooter {
  background-color: #ee5a5a;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inlog {
  background-color: #ee5a5a;
  padding: 3em;
  padding-bottom: 2em;
  border-radius: 15%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-group {
  margin-bottom: 5px;
}

.addBand,
.addEvent {
  padding: 3em;
  padding-bottom: 2em;
  border-radius: 15%;
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.addBandToEvent {
  padding-bottom: 2em;
  border-radius: 15%;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
