body {
  background-color: #ffb174;
  margin: 0;
  padding: 0;
}

/*Styles for the navigation bar at the top of the screen*/
/*---------------------------------------------------*/
Header {
  background-color: #ee5a5a;
  position: fixed;
  z-index: 9999;
  top: 0%;
  width: 100%;
}

header ul {
  list-style-type: none;
  display: flex;
}

header a {
  text-decoration: none;
  color: black;
  padding: 1em;
}

header a:hover {
  background-color: #cd4f4f;
}

.loginBtn {
  margin-left: auto;
  padding-right: 2.5em;
}
/*---------------------------------------------------*/

/*Styles for the image with the title at the top of each public page*/
/*---------------------------------------------------*/
.headImg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 12em;
  margin-bottom: 10em;
}

.headImg img {
  position: absolute;
  width: 80%;
  height: 270px;
  border-radius: 3em;
}

.headImg p {
  position: absolute;
  color: whitesmoke;
  border: 10px solid whitesmoke;
  font-size: 7em;
  padding: 0.5em;
  border-radius: 1em;
}
/*---------------------------------------------------*/

/*Styles for the text on the homepage*/
/*---------------------------------------------------*/
.homeText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3em;
  padding-top: 1em;
  font-size: large;
  text-align: center;
}
/*---------------------------------------------------*/

/*Styles for the footer and info at the bottom of the website*/
/*---------------------------------------------------*/
.flexFooter {
  background-color: #ee5a5a;
  z-index: 9999;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#infoText {
  font-size: x-large;
  border-bottom: 2px solid darkred;
  margin-bottom: 1em;
}

.bottomInfo {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  background-color: #f39393;
  font-size: large;
  color: darkred;
}

.bottomInfo ul {
  list-style-type: none;
}
/*---------------------------------------------------*/

/*Styles for the login screen*/
/*---------------------------------------------------*/
.inlog {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ee5a5a;
  width: 10em;
  margin: auto;
  margin-bottom: 10.3em;
  padding: 3em;
  padding-top: 2em;
  padding-bottom: 2em;
  border-radius: 3em;
  position: relative;
}
/*---------------------------------------------------*/

/*Styles for the band and event adding forms*/
/*---------------------------------------------------*/
.addBand,
.addEvent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6em;
  border-radius: 15%;
  position: relative;
  margin: 1em;
}

.addBandToEvent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 15%;
  margin: 1em;
}
/*---------------------------------------------------*/

/*Styles for the list of bands on the bands page*/
/*---------------------------------------------------*/
.bandTable {
  background-color: #ee5a5a;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  margin: auto;
  margin-bottom: 2em;
  padding: 2em;
  border-radius: 2em;
  width: 40%;
  height: 24.95em;
}

.bandList {
  list-style-type: none;
}

.list {
  display: flex;
  flex-direction: column;
}

.hlist {
  font-size: x-large;
  border-bottom: 2px solid black;
}
/*---------------------------------------------------*/

/*Styles for the events*/
/*---------------------------------------------------*/
.eventList {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.event {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  padding: 3em;
  padding-top: 0.5em;
  margin-bottom: 2em;
  background-color: #ee5a5a;
  border-radius: 3em;
}

.eventName {
  font-size: xx-large;
}

.eventInfo {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  width: 80%;
}

.bandsEvent {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

.bandsEvent div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bandsEvent ul {
  list-style-type: none;
}

.bandsEvent p {
  font-size: x-large;
}
/*---------------------------------------------------*/
